@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 25px;
  cursor: pointer;
  color: #ccc;
  float: left;
}

.rating label:before {
  content: '\2605'; /* Unicode character for a star */
}

.rating input:checked ~ label {
  color: #ffcc00;
}

